{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu da Semana</title>
    <link rel="stylesheet" href="{% static './aplicacao/styles.css'%}">
</head>

<body>
    <header>
        <img src="{% static './aplicacao/img/logo-wr.png'%}" alt="logo" class="logo">

        <div class="logo-wr">
            <h1>Escola Professor Willy Roos</h1>
            <h2>Cardápio Escolar</h2>
        </div>
    </header>
    
    <main class="main-content">
        
        <section class="dias">
            <h2>Selecione um Dia:</h2>
            <div class="botao-semana">
                <a href="/segunda" class="link-botao">Segunda-feira</a>
            </div>
            <div class="botao-semana">
                <a href="/terca" class="link-botao">Terça-feira</a>
            </div>
            <div class="botao-semana">
                <a href="/quarta" class="link-botao">Quarta-feira</a>
            </div>
            <div class="botao-semana">
                <a href="/quinta" class="link-botao">Quinta-feira</a>
            </div>
            <div class="botao-semana">
                <a href="/sexta" class="link-botao">Sexta-feira</a>
            </div>
        </section>
        
    </main>
    
    <footer>
        <p>Cantina</p>
        <p>2024 Escola Professor Willy Roos</p>
        <p>By Jet-Agudo/RS</p>
    </footer>
</body>

</html>
